.editRow {
    color:#0052CC;
 
}
hr{

    
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1)
}
.table{
    margin-bottom: 0;
}
.editRows {
    
    color: 0052CC;
    /* text-align: left; */
    padding: 8px;
    margin: 0px;
    font-size: 15px;
    padding: 10px 64px 10px 10px;
}

.specificRowBackground{
    background-color: rgb(244,245,247);
    border-bottom: 1px solid lightgrey;
}

.headerStyle{
    color:#7a869a;
    font-weight: bold;
    font-size: 12px;
}

.tableHeader{
    background-color: #0747a6;
    color:white;
    text-align: left;
    padding:8px;
    margin:0px;
    font-size:15px;
       font-weight: bold;
    padding: 9px 87px 10px 53px;
}

.headerBox{
   
    border-radius: 3px;
    color: #42526E;
    display: inline-block;
    font-weight: 900;
    line-height: 10%;
    margin: 0;
    padding: 2px 5px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #dfe1e5;
}

